:root {
  --page-background: #171c21;
  --user-icon-background: #2e2e2e;
  --items-background: #4141412b;
  --general-text-color: white;
}

a {
  text-decoration: none;
  color: var(--general-text-color);
}

body {
  background-color: var(--page-background);
  color: var(--general-text-color);
}

.carousel {
  background-color: var(--items-background);
}

.carousel-inner {
  color: var(--general-text-color);
}

.img-carousel {
  height: 470px;
  width: 100%;
}
.carousel-content {
  color: var(--general-text-color);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  opacity: 0;
}

.carousel-control-next:hover .carousel-control-next-icon,
.carousel-control-prev:hover .carousel-control-prev-icon {
  opacity: 100%;
}

.movie-director {
  font-size: 1.2rem;
}

.genre {
  color: rgb(196, 196, 196);
}

.card-movie,
.card,
.card-sections,
.poster {
  height: 100%;
}

.poster {
  width: 100%;
}

.card {
  background-color: var(--items-background);
  color: var(--general-text-color);
}

.cards-review {
  background-color: #f2f1f6;
  color: var(--page-background);
}

.card-text {
  max-height: 100px;
  overflow-y: scroll;
}

.vote {
  font-weight: bold;
}

.star {
  color: #ec8d44;
}

.user {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.user-photo {
  background-color: var(--user-icon-background);
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.5rem;

  color: white;
  font-size: 1.2rem;
}
