a {
  text-decoration: none;
}

.card-movie,
.card,
.card-sections,
.poster {
  height: 100%;
}

.poster {
  width: 100%;
}

.card-text {
  max-height: 100px;
  overflow-y: scroll;
}

.toast {
  display: block;
}

.vote {
  font-weight: bold;
}

.star {
  color: rgb(201, 201, 2);
}
